<!DOCTYPE html>
<html>
<head>
    <title> Download Your CSV File </title>
</head>
<body bgcolor="#E84A27">
<div align="center">
    <h1>Parsing Complete!</h1>
    <hr><br>
    <a href = "{{url_for('download_file')}}"> Download CSV</a>
    <br>
    <br>
    <a href = "http://127.0.0.1:5000/"> Return to Homepage</a>

    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="{{url_for('static', filename='UIUC.jpg')}}" width="500" height="450">
</div>
</body>
</html>