{% extends "base.html" %}

{% block header %}
  <title>{% block title %} -- ADD YOUR NAME HERE -- {% endblock %}</title>
{% endblock %}

{% block h2 %} -- ADD YOUR NAME HERE -- {% endblock %}
{% block h4 %}------First paragraph of info
<br><br>
-------- Second paragraph of info
<br><br>
--------Final paragraph of info

{%block h6%}{{url_for('static', filename='-----location of the first pic you want to add -------')}}{% endblock %}
{%block h7%}{{url_for('static', filename='-----location of the second pic you want to add -------')}}{% endblock %}
{%block h8%}{{url_for('static', filename='-----location of the third pic you want to add -------')}}{% endblock %}