{% extends "base.html" %}

{% block header %}
  <title>{% block title %} Erik Ly {% endblock %}</title>
{% endblock %}

{% block h2 %}<br>Erik Ly{% endblock %}
{% block h4 %}Hi, my name is Erik! I'm a senior studying Computer Science and Linguistics at the University of Illinois at Urbana-Champaign.
<br><br>
I designed, implemented, and tested the backend utilizing python and pytest. In addition I worked on data transfer between the frontend and the backend.{% endblock %}


{%block h6%}{{url_for('static', filename='-----location of the first pic you want to add -------')}}{% endblock %}
{%block h7%}{{url_for('static', filename='-----location of the second pic you want to add -------')}}{% endblock %}
{%block h8%}{{url_for('static', filename='-----location of the third pic you want to add -------')}}{% endblock %}